

  <hr>
    <ng-container *ngFor="let twt of tweetList">
      <div class="tweet">
       
    <div class="tweet__header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLeUIbTRtb5F_GIXobmhSbPuHUK9k90ta1Zg&usqp=CAU" alt="Profile Picture" class="profile-picture">
      <div class="tweet__user">
        <h3 class="tweet__user-name">{{twt.author | titleCapitlize}}</h3>
        <p class="tweet__user-handle">{{twt.username | titleCapitlize}}</p>
      </div>
    </div>
    <p class="tweet__content">
        {{twt.content}}
    </p>
    <div class="tweet__actions">
      <button class="tweet__actions-button-like" (click) = "likeTweet(twt)" [ngClass]="twt.liked? 'tweet__actions-button-like-clicked':'tweet__actions-button'">Like</button>
      <button class="tweet__actions-button-share">Share</button>
    </div>
  </div>
</ng-container>
 
  