<div class="trending-box trending-search">
    <span class="trending-search-icon"><img src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-search-icon-image_1344447.jpg" /></span>
    <input class="trending-search-input" type="text" placeholder="Search"/>
</div>
<div class="trending-box trending-subscribe">
    <div class="trending-subscribe-heading">Subscribe to Premium</div>
    <div class="trending-subscribe-content">Subscribe to unlock new features and if eligible, receive a share of ads revenue.</div>
    <button class="trending-subscribe-button">Subscribe</button>
</div>
<div class="trending-box trending-happening">
    <div class="trending-happening-heading">What's happening</div>
    <div class="trending-happening-body">
        <div class="tr-ha-bo-place">Trending in India</div>
        <div class="tr-ha-bo-hashtag">#HanshTag</div>
        <div class="tr-ha-bo-content">content for the story appears here</div>
        <div class="tr-ha-bo-post">4718 posts</div>
    </div>

    <!-- Unwnted -->
    <div class="trending-happening-body">
        <div class="tr-ha-bo-place">Trending in India</div>
        <div class="tr-ha-bo-hashtag">#HanshTag</div>
        <div class="tr-ha-bo-content">content for the story appears here</div>
        <div class="tr-ha-bo-post">4718 posts</div>
    <!-- unwanted ends -->
</div>
</div>
<!-- <div class="trending-box trending-who">
    <div class="trending-who-body">
        <div class="tr-who-body-icon"><img/></div>
        <div class="tr-who-body-name">Name</div>
        <div class="tr-who-body-id">@personid</div>
        <button class="tr-who-body-followbtn">follow</button>
    </div>
</div> -->