<div class="twitterImage">
    <img src="https://static.toiimg.com/thumb/msid-102075304,imgsize-5578,width-400,resizemode-4/102075304.jpg">
</div>
<div class="settingOptions">
    <div class="forHover">
        <h3>🏠 Home</h3>
    </div>
    <div class="forHover">
        <h3>🔍 Explore</h3>
    </div>
    <div class="forHover">
        <h3>📧 Notifications</h3>
    </div>
    <div class="forHover">
        <h3>📓 Lists</h3>
    </div>
    <div class="forHover">
        <h3>🏦 Communities</h3>
    </div>
    <div class="forHover">
        <h3>✖ Verified</h3>
    </div>
    <div class="forHover">
        <h3> Profile</h3>
    </div>
    <div class="forHover">
        <h3> More</h3>
    </div>
</div>
<div class="postButton">
    <button class="post_button">Post</button>
</div>
<div class="profileDetails">
    <div class="profilePhoto">
        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png">
    </div>
    <div>
        <p>{{userData.name}}</p>
        <p>@{{userData.name}}</p>
    </div>
    <div class="logoutdiv"><button class="logOut" (click)="onLogOut()">Log Out</button>
    </div>
</div>