<div class="twitterImage">
    <img src="https://static.toiimg.com/thumb/msid-102075304,imgsize-5578,width-400,resizemode-4/102075304.jpg">
</div>
<div class="settingOptions">
    <div class="forHover">
        <h3>🏠 Home</h3>
    </div>
    <div class="forHover">
        <h3>🔍 Explore</h3>
    </div>
    <div class="forHover">
        <h3>📧 Notifications</h3>
    </div>
    <div class="forHover">
        <h3>📓 Lists</h3>
    </div>
    <div class="forHover">
        <h3>🏦 Communities</h3>
    </div>
    <div class="forHover">
        <h3>✖ Verified</h3>
    </div>
    <div class="forHover">
        <h3> Profile</h3>
    </div>
    <div class="forHover">
        <h3 (click)="redirectProduct()"> Products </h3>
    </div>
</div>
<div class="postButton">
    <button class="post_button">Post</button>
</div>
<div class="profileDetails">
    <!-- <div class="profilePhoto">
        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png">
    </div>
    <div>
        <p>{{userData.name}}</p>
        <p>@{{userData.name}}</p>
    </div>
    <div class="logoutdiv"><button class="logOut" (click)="onLogOut()">Log Out</button>
    </div> -->
    <div class="trending-who-body">
        <div class="tr-who-body-icon"><img src="https://icon-library.com/images/person-head-icon/person-head-icon-27.jpg"/></div>
        <div class="tr-who-body-name">{{userData.name}}
            <br/>
        <span class="tr-who-body-id">@{{userData.name}}</span>

        </div>

        <button class="tr-who-body-followbtn"(click)="onLogOut()">Log Out</button>
    </div>
</div>