<div class="twitterImage">
    <img src="https://static.toiimg.com/thumb/msid-102075304,imgsize-5578,width-400,resizemode-4/102075304.jpg">
</div>
<div class="settingOptions">
    <div class="forHover">
        <h2>🏠 Home</h2>
    </div>
    <div class="forHover">
        <h2>🔍 Explore</h2>
    </div>
    <div class="forHover">
        <h2>📧 Notifications</h2>
    </div>
    <div class="forHover">
        <h2>📓 Lists</h2>
    </div>
    <div class="forHover">
        <h2>🏦 Communities</h2>
    </div>
    <div class="forHover">
        <h2>✖ Verified</h2>
    </div>
    <div class="forHover">
        <h2> Profile</h2>
    </div>
    <div class="forHover">
        <h2> More</h2>
    </div>







</div>
<div class="postButton">
    <button class="post_button">Post</button>
</div>
<div class="profileDetails">
    <div class="profilePhoto">
        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png">
    </div>
    <div>
        <p>UserName</p>
        <p>UserId</p>
    </div>
</div>